.custom-button {
    display: flex;
    height: 30px;
    width: 100px;
    background-color: #FFA500; /* Cor de fundo laranja */
    color: white; /* Cor do texto */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;


}

.custom-button:hover {
    background-color: #cc8400; /* Cor laranja mais escura ao passar o mouse */
}

.custom-button:active {
    background-color: #b36b00; /* Cor ainda mais escura quando clicado */
}

.custom-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 165, 0, 0.5); /* Sombra laranja ao redor ao focar */
}
