/* Estilos gerais */
.logo {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: all 0.3s ease; /* Adiciona transição suave para todas as propriedades */
}

.lucianofoto {
    height: 200px;
}

.logo_coluna {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilos para telas menores (mobile) */
@media (max-width: 768px) {
    .logo {
        flex-direction: column;
    }

    .lucianofoto {
        height: auto;
        width: 360px;
    }

    .logo_coluna {
        flex-direction: row;
        margin: 5px;
        gap: 25px;
    }

    .logo.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: #004aad; /* Ajusta a cor de fundo conforme necessário */
        border-bottom: 1px solid #ddd; /* Adiciona uma borda para definir o topo do componente */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave para dar profundidade */
    }
}
